.popup {
  display: none;
  
} 
.popup--active {
  background: rgba(0,0,0,0.9);
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0,0,0,0.6);
}

.popup__container {
  background-color: #ffffff;
  width: 430px;
  height: 330px;
  position: fixed;
  inset-inline-start: 425px;
  inset-block-start: 195px;
  border: #000000 1px;
  color: #000000;
  border-radius: 10px;
  box-shadow: 0px 0px 25px 0px #00000026;
}

.popup__title {
  font-family: "Inter 900", Arial, Helvetica, sans-serif;
  font-weight: 900;
  font-size: 24px;
  margin: 34px 0 54px 36px;
}

.popup__form {
  padding: 0 36px;
  display: grid;
  row-gap: 29.74px;
}

.popup__item {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-bottom: 1px solid #00000033;
  font-family: "Inter 400", Arial, Helvetica, sans-serif;
}

.popup__button {
  color: #ffffff;
  background-color: #000000;
  width: 358px;
  height: 50.15px;
  border-radius: 2px;
  margin: 48px 0 0;
  cursor: pointer;
  border-radius: 2px;
  font-family: "Inter 400", Arial, Helvetica, sans-serif;
}

.popup__button:hover{
  background-color: rgba(0, 0, 0, 0.8);
}
.popup__button-close {
background: none;
border: none;
position: fixed;
top: 146.72px;
left: 846.72px;
width: 40px;
height: 40px;
cursor: pointer;
}

.popup__button-close:hover{
  opacity: 0.6;
}

.popup__gallery {
  display: none;
  
} 

@media screen and (max-width: 880px){
  .popup__container {
  inset-inline-start: 225px;
}
.popup__button-close {
left: 646.72px;
}
}

@media screen and (max-width: 364px){

}